body {
  background-color: #0ae927;
}

.accordion-item {
  
  
  margin-bottom: 10px;
  
}

.accordion-item-header {
  padding: 0 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.accordion-item-header .icon {
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
  
}

.plus {
  background-image: url("images/plus.png");
}

.minus {
  background-image: url("images/minus.png");
}

.accordion-item-content {
  padding: 10px;
  background-color: #f0f0f0;
  display: none;
  border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
