.post {
    border: 1px solid rgb(245, 4, 4);
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.content {
    border-top: 2px solid rgb(240, 5, 5);
    word-wrap: break-word;
    padding: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, textarea {
    width: 100%;
}