* {
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
  min-height: 420px;
  max-height: 420px;
  width: 100%;
}

.container {
  max-width: 640px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: deepskyblue;
  border-radius: 5px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.animation {
  animation-name: animation;
  animation-duration: 1.5s;
}

@keyframes animation {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}