* {
  box-sizing: border-box;
}

.container {
  border: 1px solid black;
  border-spacing: 0;
}

.container td {
  height: 50px;
  width: 50px;
}

.active {
  background-color: rgb(0, 0, 7);
}
