.wrapper {
  width: 50%;
  margin: 0 auto;
}

.wrapper div {
  width: 100%;
  border: 2px solid rgb(25, 243, 6);
  padding: 10px;
  margin: 10px;
}

input,
textarea {
  border: 1px solid rgb(7, 233, 127);
}

.focused {
  background-color: rgb(9, 247, 136);
}
