*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


table {
    width: 15%;
    height: 200px;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}

.selected {
    background-color: yellow;
}